<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 product-comparison-triggers-wrap">
  <div class="product-comparison-trigger-wrapper">
    <a href="#" class="product-comparison-trigger" data-selector=".product-comparison-table-comparable-1m" id="p-1">
      <span>Dino</span>
      <div class="product-comparison-trigger-is-checked">
        <i class="fa fa-check icon-itself"></i>
      </div>
    </a>
    <a href="#" class="product-comparison-trigger" data-selector=".product-comparison-table-comparable-2" id="p-2">
      <span>Lauren</span>
      <div class="product-comparison-trigger-is-checked">
        <i class="fa fa-check icon-itself"></i>
      </div>
    </a>
    <a href="#" class="product-comparison-trigger" data-selector=".product-comparison-table-comparable-3" id="p-3">
      <span>Natasha</span>
      <div class="product-comparison-trigger-is-checked">
        <i class="fa fa-check icon-itself"></i>
      </div>
    </a>

  </div>
</div>


<table>
  <tbody>
    <tr>
      <td class="product-comparison-table-param-description-wrapper">
        <div class="product-comparison-table-param-description shown">
          <p class="product-comparison-table-param-description-switcher">
            Food
          </p>

          <small>
										TesT ing stuff here
									</small>
        </div>
      </td>
      <td class="product-comparison-table-comparable product-comparison-table-comparable-1">
        <i class="icon-itself fa fa-check-circle-o">Yes</i>
      </td>
      <td class="product-comparison-table-comparable product-comparison-table-comparable-2">
      </td>
      <td class="product-comparison-table-comparable product-comparison-table-comparable-3">
        <i class="icon-itself fa fa-check-circle-o">Unlimited</i>
      </td>
    </tr>
    <tr>
      <td class="product-comparison-table-param-description-wrapper">
        <div class="product-comparison-table-param-description shown">
          <p class="product-comparison-table-param-description-switcher">
            Drinks
          </p>

          <small>
										TesT ing stuff here
									</small>
        </div>
      </td>
      <td class="product-comparison-table-comparable product-comparison-table-comparable-1">
        <i class="icon-itself fa fa-check-circle-o">Yes</i>
      </td>
      <td class="product-comparison-table-comparable product-comparison-table-comparable-2">
      </td>
      <td class="product-comparison-table-comparable product-comparison-table-comparable-3">
        <i class="icon-itself fa fa-check-circle-o">Unlimited</i>
      </td>
    </tr>
    <tr>
      <td class="product-comparison-table-param-description-wrapper">
        <div class="product-comparison-table-param-description shown">
          <p class="product-comparison-table-param-description-switcher">
            Sports
          </p>

          <small>
										TesT ing stuff here
									</small>
        </div>
      </td>
      <td class="product-comparison-table-comparable product-comparison-table-comparable-1">
        <i class="icon-itself fa fa-check-circle-o">Yes</i>
      </td>
      <td class="product-comparison-table-comparable product-comparison-table-comparable-2">
      </td>
      <td class="product-comparison-table-comparable product-comparison-table-comparable-3">
        <i class="icon-itself fa fa-check-circle-o">Unlimited</i>
      </td>
    </tr>
  </tbody>
</table>
